/* import '~/vue-final-modal/style.css' */

* {
  font: 15px Avenir,Helvetica,Arial,sans-serif;
    font-size: 15px;
  -moz-osx-font-smoothing: grayscale;
  /* color: #2c3e50; */
}
html, body, #app {
  width: 100vw;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.bg-blue-100 {
  background-color: rgb(116, 150, 253);
  color: #fff;
}
.bg-indigo-100 {
  background: rgb(213, 20, 158);
  color: #fff;
}
.bg-teal-100 {
  background-color: rgb(115, 170, 162);
  color: #fff;
}


.bg-green-300{
  background-color: rgb(23, 186, 116);
  color: #fff;
}


.bg-brown-600 {
  background-color: rgb(186, 99, 23);
  color: #fff;;
}
.bg-yellow-600 {
  background-color: rgb(238, 195, 26);
  color: #fff;
}


.bg-green-700{
  background-color: rgb(8, 63, 73);
  color: #fff;
}
.bg-brown-700 {
  background-color: rgb(213, 101, 20);
  color: #fff;;
}
.bg-pink-700 {
  background: rgb(234, 46, 231);
  color: #fff;
}
.bg-orange-700 {
  background-color: rgb(255, 130, 20);
  color: #fff;
}