/* import '~/vue-final-modal/style.css' */


.red-001 {
    background: rgb(248, 113, 113);
    color: #fff;
  }
  
  .orange-001 {
    background: rgb(253, 186, 116);
    color: #fff;
  }
  
  .yellow-001 {
    background: rgb(253, 230, 138);
    color: #fff;
  }
  
  .yellow-002 {
    background: rgb(253, 224, 71);
    color: #fff;
  }
  
  .green-001 {
    background: rgb(190, 242, 100);
    color: #fff;
  }
  
  .teal-001 {
    background: rgb(114, 169, 172);
    color: #fff;
  }
  
  .green-002 {
    background: rgb(110, 231, 183);
    color: #fff;
  }
  
  .gray-001 {
    background: rgb(125, 115, 125);
    color: #fff;
  }
  
  .blue-001 {
    background: rgb(103, 232, 249);
    color: #fff;
  }
  
  .blue-002 {
    background: rgb(96, 165, 250);
    color: #fff;
  }
  
  .blue-003 {
    background: rgb(99, 102, 241);
    color: #fff;
  }
  
  .purple-001 {
    background: rgb(167, 139, 250);
    color: #fff;
  }
  
  .purple-002 {
    background: rgb(232, 121, 249);
    color: #fff;
  }
  
  .pink-001 {
    background: rgb(244, 114, 182);
    color: #fff;
  }
  